
* {
	font-family: "微軟正黑體";
/*
	transition:All .2s ease;
	-webkit-transition:All .2s ease;
	-moz-transition:All .2s ease;
	-o-transition:All .2s ease;


	overflow: hidden;
*/

}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow-x: hidden;
}
.scroll_man{
	z-index: 8;
	width: 100%;
	height: 200%;
	min-height: 1250px;  
	border-bottom:solid 1px #CCC;

}

.scroll_man_indus{
	z-index: 10;
	width: 700px;
	height: 90%;
	position: fixed;
	left: 50%;
	margin-left: -350px;
	margin-top: 150px;
	text-align: center;
}

.scroll_man_indus > img {
	margin-bottom: 20px;
}

.scroll_man_indus > b {
	font-size: 20px;
	color: #FFF;
}
.scroll_man_indus > p {
	font-size: 14px;
	color: #FFF;
}

.scroll-down {
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -43px;
	cursor: pointer;
}

.go_pic_1{
	display: block;
	z-index: 8;	
	position: fixed;
	height: 1200px;
	width: 100%;
	top: 0px;
	left: 0px;
	background-image: url(../images/bg_01.jpg);
	background-position: center 0px ;
	background-repeat: no-repeat;
/*
	transition:All .05s ease;
	-webkit-transition:All .05s ease;
	-moz-transition:All .05s ease;
	-o-transition:All .05s ease;
*/
}
.car{
	display: block;
	z-index: 9;	
	position: fixed;
	height: 577px;
	width: 1061px;
	top: 60%;
	left: 70%;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/car.png);
	background-position: center 0px ;
	background-repeat: no-repeat;
}

.star{
	display: block;
	z-index: 9;	
	position: fixed;
	height: 600px;
	width: 1000px;
	top: -80%;
	left: 30%;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/star.png);
	background-position: center 0px ;
	background-repeat: no-repeat;
	
}
.star_2{
	display: block;
	z-index: 9;	
	position: fixed;
	height: 600px;
	width: 1000px;
	top: -90%;
	left: 50%;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/star.png);
	background-position: center 0px ;
	background-repeat: no-repeat;
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg) ;
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
}





.scroll_box_1{
	position: relative;
	z-index: 11;
	width: 100%;
	height: 1400px;
}

.scroll_box_2{
	z-index: 12;
	position: relative;
	width: 100%;
	height: 1000px;
	background-color:#C74665;
	background-image: url(../images/bg_03.jpg);
	background-repeat: no-repeat;;
	background-position: center;
}

.scroll_box_3{
	z-index: 11;
	position: relative;
	width: 100%;
	height: 500px;
	background-color:#C74665;
	background-image: url(../images/love.gif);
	background-position: center;
	background-repeat: no-repeat;
}



.white {
	display: block;
	width: 100%;
	height: 260px;
	background-image: url(../images/white-cloud.png);
	background-position:center bottom ;
}
.white_2 {
	display: block;
	width: 100%;
	height: 260px;
	background-image: url(../images/white-cloud_2.png);
	background-position:center top ;
}

.fixed_box {
	position: relative;
	background-color: #FFF;
	width: 100%;
	height: 2000px;
	text-align: center;
	overflow: hidden;
}

.inner_con {
	width: 1002px;
	height: 410px;
	padding-top: 8%;
	margin: 0px auto;
}

.inner_con > div {
	float: left;
}
.inner_con > div:after {
	clear: both;
}

.inner_con_1,.inner_con_3 {
	width: 350px;
	height: 402px;
	transform-style: preserve-3d;
}

.inner_con_1 > div,.inner_con_3 > div {
	width: 100%;
	height: 201px;
	/*transition: all 0.2s ease 0s;*/
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    perspective: 500pt;
	-webkit-perspective: 500pt; /* Safari 和 Chrome */
	cursor: pointer;
	perspective-origin: 10% 10%;
	-webkit-perspective-origin: 10% 10%;	/* Safari 和 Chrome */
}

.inner_con_1 > div > span,.inner_con_3 > div > span {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	transform: rotateY(0deg);
	transition: all 0.6s ease;
	opacity: 1;
	transform-style: preserve-3d;
}
.inner_con_1 > div > span+span,.inner_con_3 > div > span+span {
	display: block;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	opacity: 0;
}

.inner_con_1 > div:hover span,.inner_con_3 > div:hover span {
	transform: rotateY(-180deg);
	opacity: 0;	
}
.inner_con_1 > div:hover span+span,.inner_con_3 > div:hover span+span {
	transform: rotateY(0deg);
	opacity: 1;	
}

.autobiography,.workexperience {
	border-bottom: solid 1px #E3E3E3;
}


.autobiography {
	margin-left: -200px;
	opacity: 0;
}

.educational {
	margin-left: -200px;
	opacity: 0;
}

.workexperience {
	margin-left: 200px;
	opacity: 0;
}

.mydesig {
	margin-left: 200px;
	opacity: 0;
}

.inner_con_2 {
	margin-top: -200px;
	opacity: 0;
}




.inner_con_2 {
	width: 300px;
	height: 402px;
	border-left: solid 1px #E3E3E3;
	border-right: solid 1px #E3E3E3;
	color: #FF0400;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
}
.inner_con_2:hover {
	background-color: #F3F3F3;	
}
.inner_con_2 > h2 {
	clear: both;
	height: 50px;
	line-height: 50px;
	font-size: 20pt;
	margin-top: 20px;
	background-color: #FF0400;
	color: #FFF;
}

.inner_con_2 > ul {
	list-style:none;
	display: block;
	padding: 0;
	margin: auto;
}
.inner_con_2 > ul > li {
	list-style:none;
	display: block;
	width: 100%;
	height: 30px;
	text-align: center;
	padding: 8px 0px 0px 50px;	
}

.inner_con_2 > ul > li > b {
	width:90px;
	float:left;
	text-align:right;
	display:block;
}

.inner_con_2 > ul > li > i {
	color:#666;
	width:220px;
	display: block;
	text-align:left !important;
	font-style: normal;
	margin-left:5px;
	padding: 0;
}

.inner_con_4 {
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 20px; 
	padding-top: 10px;
	border-top: solid 1px #E3E3E3;
}

.inner_con_4 > p {
	display: inline-block;
	width: 100%;
	height: 20px;
	font-size: 9pt;
	color: #FF0400;
	line-height: 20px;
	padding: 0;
	margin: 0;
}



.about_1,.about_3 {
	z-index: 20;
	display: none;
	position: fixed;
	width: 100%;
	height: 1100%;
	top: 0;
	left: 0;
}

.clo_1,.clo_3 {
	display: block;
	position: absolute;
	width: 100%;
	height: 1100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
}
.about_1 > b,.about_3 > b {
	z-index: 21;
	display: block;
	position: fixed;
	width: 40px;
	height: 40px;
	top: 10%;
	left: 86%;
	margin-top: -40px;
	margin-left: -40px;
	background-color: #FF0400;
	color: #FFF;
	font-size: 20pt;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.about_3 > b {
	left: 76%;	
}
.about_1 > div {
	z-index: 21;
	display: block;
	position: fixed;
	width: 20%;
	height: 80%;
	top: 10%;
	left: 50%;
	margin-left: -36%;
	background-color: #FFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
}

.about_1 > div+div {
	z-index: 21;
	display: block;
	position: fixed;
	width: 50%;
	height: 80%;
	top: 10%;
	left: 50%;
	margin-left: -14%;
	background-color: #FFF;
	padding: 10px 30px;	
	overflow: hidden;
/*
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
*/
}

.about_1 h3 {
	font-size: 20pt;
	padding: 0;
	margin: 0;
	color: #FF0400;
}

.about_1 > div > img {
	width: 100%;
	height: auto;
}

.about_1 > div+div > p {
	display: block;
	width: 100%;
	height: 80%;
	overflow: auto;
	padding: 0;
	margin: 0;
	font-size: 12pt;
}

.about_3 > div {
	z-index: 21;
	display: block;
	position: fixed;
	width: 52%;
	height: 80%;
	top: 10%;
	left: 50%;
	margin-left: -26%;
	background-color: #FFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 20px 40px;
	overflow: auto;
}

.about_3 h3 {
	font-size: 20pt;
	padding: 0px 0px 20px 0px;
	margin: 0;
	color: #FF0400;
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.about_3 > div > span > b {
	color: #F30;
    font-size: 1em;
    line-height: 2em;
    border-top: solid 1px #666;
    padding-top: 5px;
    display: block;
    width: auto;
}

.about_3 > div > span > p {
	color: #666;
    font-size: .8em;
    line-height: 1.4em;
    padding-top: 0px;
    display: block;
    width: auto;
}


/*---------------------連絡我------------------------*/

.footer {
	width:auto;
	height:100%;
	position:relative;
	background-size:length;
}

.footer > div {
	width:40%;
	height:auto;
	position:absolute;
	top:53%;
	left:30%;
}

.footer > div > b {
	display:block;
	padding-left:20px;
	width:100%;
	height:26px;
	font-size:1em;
	color:#FFF;
	line-height:26px;
	letter-spacing: 0.2em;
	text-shadow:0px 0px 10px #900;
}

.footer > div > b > i {
	display:block;
	float:left;
	width:30%;
	text-align:right;
	margin-right:20px;
}

.footer > div > b > a {
	display:block;
	float:left;
	text-align:left;
}

.footer > .next {
	top:40%;
	background-color:#FFF;
	color:#900;
}

.footer > .next:hover {
	top:40%;
	background-color:#FF0;
	color:#900;
}

.footer > img {
	-moz-animation: imgAnimation 3s infinite ease;
	-o-animation: imgAnimation 3s infinite ease;
	position: absolute;
	width: 180px;
	-webkit-animation: imgAnimation 3s infinite ease;
	top: 0px;
	left: 50%;
	margin-left: -200px;
	height: auto;

}


@-webkit-keyframes imgAnimation {
	0% {margin-top:0%; }
	50% { margin-top:2%; }
	100% { margin-top:0%; }
}
@-moz-keyframes imgAnimation {
	0% {margin-top:0%; }
	50% { margin-top:2%; }
	100% { margin-top:0%; }
}
@-o-keyframes imgAnimation {
	0% {margin-top:0%; }
	50% { margin-top:2%; }
	100% { margin-top:0%; }
}



@-webkit-keyframes nextAnimation {
	from { -webkit-transform: scale(1) skew(1deg); }
	to { -webkit-transform: scale(1.2) skew(1deg); }
}
@-moz-keyframes nextAnimation {
	from { -moz-transform: scale(1) skew(1deg); }
	to { -moz-transform: scale(1.2) skew(1deg) ; }
}
@-o-keyframes nextAnimation {
	from { -o-transform: scale(1) skew(1deg)); }
	to { -o-transform: scale(1.2) skew(1deg); }
}



.over {
	height:100px;
	width:100%;
	background-color:#C74565;
}

.bgpostion {
	display:none;
	overflow:hidden;
	width:0px;
	height:0px;
}



.next {
	width:50px;
	height:50px;
	display:block;
	font-family: 'Stardos Stencil', sans-serif;
	text-align:center;
	line-height:50px;
	color:#FFF;
	position:absolute;
	z-index:101;
	left:50%;
	bottom:10px;
	margin-left:-25px;
	background-color:#F33;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	font-size: 14px;
	font-weight: bold;
	cursor:pointer;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	-webkit-animation: nextAnimation 1s infinite ease-out;
	-moz-animation: nextAnimation 1s infinite ease-out;
	-o-animation: nextAnimation 1s infinite ease-out;
}

.next:hover {
	background-color:#F93;
	-moz-animation: cssAnimation 0.3s 2 ease;
	-o-animation: cssAnimation 0.3s 2 ease;
	-webkit-animation: cssAnimation 0.3s 2 ease;
	
}

.next:before {
	width:60px;
	height:60px;
	border:solid 1px #F00;
	display:block;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	content:"";
	position:absolute;
	left:-6px;
	bottom:-6px;
}

.next:after {
	width:20px;
	height:20px;
	display:block;
	content:"";
	position:absolute;
	left:70px;
	bottom:10px;
	background-color:#F00;
	transform: rotate(43deg) scale(.5) skew(0deg) translate(0px);
	-webkit-transform: rotate(43deg) scale(.5) skew(0deg) translate(0px);
	-moz-transform: rotate(43deg) scale(.5) skew(0deg) translate(0px);
	-o-transform: rotate(43deg) scale(.5) skew(0deg) translate(0px);
	-ms-transform: rotate(43deg) scale(.5) skew(0deg) translate(0px);
	
	-moz-box-shadow:40px -35px 0px #F00,80px -70px 0px #F00;
	-webkit-box-shadow:40px -35px 0px #F00,80px -70px 0px #F00;
	box-shadow:40px -35px 0px #F00,80px -70px 0px #F00;
}



/*------------------作品集-----------------*/


.work {
	width:100%;
	padding-left:0;
	height:100%;
	background-color: rgba(100,100,0,0.0);
	position:absolute;
	background-position:0% 0%;
	background-size:60%;
	background-repeat:no-repeat;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	top:0;
}

.skill {
	width:30%;
	position:absolute;
	height:200px;
	top:27%;
	left:60%;
	display:block;
}


.skill > h2 {
	margin:0px;
	color:#FFF;
	font-size:24pt;
}

.skill > b {
	color:#FFF;
	margin:0px;
	font-size:0.9em;
	line-height:1.5em; 
}

.more {
	position:absolute;
	top:50%;
	left:65%;
	color:#FFF;
	text-align:center;
	font-size:2em;
	display:block;
	padding:0;
	width: 246px;
	height: 70px;
	line-height: 70px;
	font-family: 'Cabin Sketch', "微軟正黑體";
	cursor:pointer;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
	background-image:url(../images/btn.png);
	background-position:left top;
	background-repeat:no-repeat;	
}

.more:hover {
	-webkit-animation: cssAnimation 0.3s 1 ease;
	-moz-animation: cssAnimation 0.3s 1 ease;
	-o-animation: cssAnimation 0.3s 1 ease;
	background-image:url(../images/btn_2.png);
	background-position:left top;
	background-repeat:no-repeat;	
}



.more > b {
	position:relative;
	top:-2px;
	margin-left: 5px;
	-webkit-animation: moreAnimation 1s infinite ease-out;
	-moz-animation: cssAnimation 1s infinite ease-out;
	-o-animation: cssAnimation 1s infinite ease-out;
}
@-webkit-keyframes moreAnimation {
	from { -webkit-transform: scale(1) skew(1deg) translate(10px); }
	to { -webkit-transform: scale(1) skew(1deg) translate(0px); }
}
@-moz-keyframes moreAnimation {
	from { -moz-transform: scale(1) skew(1deg) translate(10px); }
	to { -moz-transform: scale(1) skew(1deg) translate(0px); }
}
@-o-keyframes moreAnimation {
	from { -o-transform: scale(1) skew(1deg) translate(10px); }
	to { -o-transform: scale(1) skew(1deg) translate(0px); }
}




.mywork {
	display:block;
	background-color:#F60;
	left:0%;
	top:0px;
	margin-left: 100%;
	padding:0px;
	background-image:url(../images/oter01.png);
	background-position:right bottom;
	background-repeat:no-repeat;
	position:fixed;
	width:100%;
	height:100%;
	z-index:110;
}

.mywork > span {
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:110;
	display:block;
	background-image:url(../images/oter02.png);
	background-position:left top;
	background-repeat:no-repeat;
	background-size:30%;
}

.mywork > div {
	position:absolute;
	margin-left:20%;
	margin-top:1.5%;
	width:60%;
	height:90%;
	z-index:111;
/*
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,.3);
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,.3);
	box-shadow:0px 0px 10px rgba(0,0,0,.3);
*/	
}

.mywork > div > h3 {
	text-align:center;
	font-size:1em;
	float:left;
	background-color: rgba(0,0,0,0.8);
	color:#FF0;
	margin:0px;
	cursor:pointer;
	font-family: 'Cabin Sketch', "微軟正黑體";
	padding:21px 50px 21px 50px;
}

.mywork > div > h4 {
	text-align:center;
	font-size:1em;
	float:left;
	background-color: rgba(0,0,0,0.6);
	color:#FFF;
	margin:0px;
	cursor:pointer;
	font-family: 'Cabin Sketch', "微軟正黑體";
	padding:21px 50px 21px 50px;
}

.mywork > div > h5 {
	color:#FFF;
	text-align:center;
	width:78px;
	height:78px;
	line-height:85px;
	font-size:3em;
	float:right;
	background-color: rgba(255,0,0,0.5);
	margin:0px;
	font-family: 'Cabin Sketch', cursive;
	cursor:pointer;
	border:solid 1px #FFF;
}

.mywork > div > b {
	display: block;
	color:#FFF;
	float:right;
	width:100px;
	padding: 0;
	font-size: 22pt;
	margin-top: 0;
	height: 84px;
	line-height: 84px;
	margin-right: 30px;
}


.mywork > div > div {
	background-color:#FFF;
	clear:both;
	float:left;
	width:100%;
	height:90%;
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.5);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.5);
	box-shadow:0px 0px 20px rgba(0,0,0,.5);
	overflow:hidden;
}

.mywork > div > div > div {
	width:100%;
	height:100%;
	position:relative;
}
.web {
	display:none;
}
.mywork > div > div > div >  img {
	width:80%;
	height:auto;
	float:left;
	position:absolute;
	top:5%;
	left:10%;
}

.mywork > div > div > div > img+img {
	display:none;
}


.btn1 {
	display:block ;
	position:absolute;
	width:100%;
	height:100%;
	top:-100%;
	left:0px;
	z-index:300;
}

.btn2 {
	display:none ;
	position:absolute;
	width:100%;
	height:100%;
	top:-100%;
	left:0px;
	z-index:300;
}



.btn1 > div > a,.btn2 > div > a {
	font-size:5em;
	cursor:pointer;
	color:#F00;
	border:solid 2px #FFF;
	background-color:rgba(255,255,255,.6);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,.5);
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,.5);
	box-shadow:0px 0px 10px rgba(0,0,0,.5);	
}

.btn1 > div > a:hover,.btn2 > div > a:hover {
	color:#333;
	-webkit-animation: cssAnimation 0.3s 2 ease;
	-moz-animation: cssAnimation 0.3s 2 ease;
	-o-animation: cssAnimation 0.3s 2 ease;
}



.show_r,.show_f {
	position:relative;
}

.show_f a  {
	position:absolute;
	top:200px;
	left:20px;
}
.show_f a+a {
	display:none;
}

.show_r a  {
	position:absolute;
	top:200px;
	right:20px;
}
.show_r a+a {
	display:none;
}



/*------------------//作品集-----------------*/

/*----------------------------燈箱------------------------------------------*/
.showbox {
	position:absolute;
	filter:alpha(opacity=1);
	-moz-opacity:1;
	opacity: 1;
	left: 55%;
	top: 25%;
	margin-left: -550px;
}

#showman {
	height: 385px;
	width: 540px;
	background-color: #FFF;
	margin-top: 2px;
	-moz-box-shadow: 0 0px 4px #111;
	position::relative;
	z-index: 10;
	border: 2px solid #D2D2D2;
}
#showbtn {
	display: block;
	height: 30px;
	width: 520px;
	position: absolute;
	z-index: 90;
	text-align: right;
	margin-top: 320px;
}
#showbtn a {
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	display: inline-block;
	border: 1px solid #FFF;
	color: #FFF;
	text-decoration: none;
	font-family: "微軟正黑體";
	cursor: pointer;
}
.btn {
	background-color: #F60;
	padding-top: 4px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
	font-size: 14px;
}
.btn_1 {
	background-color: #0F9;
	padding-top: 4px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
	font-size: 14px;
}
.btn_2 {
	background-color: #CCC;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 12px;
}
.btn_2:hover {
	background-color: #F96;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 12px;
}
#showman a img{
	margin-left: 19px;
	position: absolute;
	margin-top: 18px;
	height: 290px;
	width: 500px;
	left: 1px;
}
#showman a b{
	font-family: "微軟正黑體";
	font-size: 18px;
	margin-top: 320px;
	display: block;
	height: 30px;
	width: 100%;
	line-height: 30px;
	text-indent: 20px;
}
#showman a p{
	display: block;
	height: 20px;
	width: 100%;
	margin-top: 0px;
	font-size: 12px;
	font-family: "微軟正黑體";
	color: #666;
	line-height: 20px;
	text-indent: 20px;
}
.showman_go {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

/*----------------------------//燈箱------------------------------------------*/





/*-----下面試跳一下的動做------------------------------------------------------*/

@-webkit-keyframes cssAnimation {
0% { -webkit-transform: rotate(0deg) scale(1); }
50% { -webkit-transform: rotate(0deg) scale(1.1); }
100% { -webkit-transform: rotate(0deg) scale(1); }
}
@-moz-keyframes cssAnimation {
0% { -moz-transform: rotate(0deg) scale(1); }
50% { -moz-transform: rotate(0deg) scale(1.1); }
100% { -moz-transform: rotate(0deg) scale(1); }
}
@-o-keyframes cssAnimation {
0% { -o-transform: rotate(0deg) scale(1); }
50% { -o-transform: rotate(0deg) scale(1.1); }
100% { -o-transform: rotate(0deg) scale(1); }
}
